<h1>Agenda</h1>

<p>Demonstração</p>

<p *ngIf="!empList"><em>Loading...</em></p>

<p>
    <a [routerLink]="['/register-employee']">Create New</a>
</p>

<table class='table' *ngIf="empList">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Data de Nascimento</th>
            <th>Data Inicial</th>
            <th>Data Final</th>
            <th>Observação</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let emp of empList">
            <td>{{ emp.Id }}</td>
            <td>{{ emp.Nome }}</td>
            <td>{{ emp.DataNascimento }}</td>
            <td>{{ emp.DataInicial }}</td>
            <td>{{ emp.DataFinal }}</td>
            <td>{{ emp.Observacao }}</td>
            <td>
            <td>
                <a [routerLink]="['/employee/edit/', emp.Id]">Edit</a> |
                <a [routerLink]="" (click)="delete(emp.Id)">Delete</a>
            </td>
        </tr>
    </tbody>
</table>